.root {
  border-radius: var(--radius-md);
  background-color: var(--blue-950);
  width: 8rem;
  height: 3rem;
  overflow: hidden;
  color: var(--blue-50);
}

.primary {
  background-color: var(--blue-950);
  color: var(--blue-50);
}

.secondary {
  background-color: transparent;
  color: var(--blue-950);
}

.tertiary {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  text-decoration: underline var(--grey) 2px;
  color: var(--grey);
  font-weight: 400;
}
