.root {
  border-radius: var(--radius-md);
  background-color: var(--blue-950);
  padding: 0.5rem var(--space-sm);
  min-width: 6rem;
  overflow: hidden;
  color: var(--blue-50);
  font-size: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
}

@media (width >= 768px) {
  .root {
    padding: 0.75rem var(--space-sm);
    min-width: 8rem;
  }
}

.primary {
  background-color: var(--blue-950);
  color: var(--blue-50);
}

.secondary {
  background-color: transparent;
  color: var(--blue-950);
}

.tertiary {
  background-color: transparent;
  padding: 0;
  min-width: fit-content;
  text-decoration: underline var(--grey) 2px;
  color: var(--grey);
  font-weight: 400;
}
