.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin: 0;
  border: none;
  padding: 0;
}

.legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
