.root {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  background-color: var(--blue-50);
  width: 100%;
  height: 3rem;
}

.label {
  color: var(--grey);
  font-weight: 500;
}

.active {
  color: var(--blue-950);
}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: var(--radius-lg);
  background-color: var(--blue-950);
  width: 2.5rem;
  height: 1.25rem;
}

.left {
  justify-content: flex-start;
}

.thumb {
  margin: 0.25rem;
  border-radius: 50%;
  background-color: var(--white);
  width: 0.75rem;
  height: 0.75rem;
}
