.root {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  background-color: var(--blue-50);
  width: 100%;
  height: clamp(2.5rem, 2.25rem + 0.75vw, 3rem);
  font-size: var(--font-size-sm);
}

.label {
  color: var(--grey);
  font-weight: 500;
}

.active {
  color: var(--blue-950);
}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: var(--radius-lg);
  background-color: var(--blue-950);
  width: clamp(2rem, 1.75rem + 0.75vw, 2.5rem);
  height: clamp(1rem, 0.875rem + 0.375vw, 1.25rem);
}

.left {
  justify-content: flex-start;
}

.thumb {
  margin: 0.1875rem;
  border-radius: 50%;
  background-color: var(--white);
  width: clamp(0.625rem, 0.55rem + 0.25vw, 0.75rem);
  height: clamp(0.625rem, 0.55rem + 0.25vw, 0.75rem);
}
