.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.heading {
  font-size: 1.5rem;
}

@media (width >= 768px) {
  .heading {
    font-size: 2rem;
  }
}

.subheading {
  color: var(--grey);
  font-size: 1rem;
}
