.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
}

@media (width >= 768px) {
  .root {
    flex-direction: row;
    gap: var(--space-lg);
    justify-content: space-between;
  }
}
