.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
  margin: 0;
  border: none;
  padding: 0;
}

@media (width >= 768px) {
  .root {
    flex-direction: row;
    gap: var(--space-lg);
    justify-content: space-between;
  }
}

.legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
