.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-sm);
  color: var(--grey);
  font-size: 0.875rem;
}

@media (width >= 768px) {
  .root {
    font-size: 1rem;
  }
}

.total {
  color: var(--blue-600);
  font-weight: 700;
}
