.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-sm);
  color: var(--grey);
  font-size: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
}

.total {
  color: var(--blue-600);
  font-weight: 700;
}
