.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
}

.input {
  border: 1px solid var(--grey);
  border-radius: var(--radius-md);
  padding: var(--space-xs);
}

.input::placeholder {
  opacity: 0.5;
}
