.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: 0.875rem;
}

@media (width >= 768px) {
  .root {
    font-size: 1rem;
  }
}

.input {
  border: 1px solid var(--grey);
  border-radius: var(--radius-md);
  padding: var(--space-xs);
}

.input::placeholder {
  opacity: 0.5;
}
