.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: var(--font-size-sm);
}

.input {
  border: 1px solid var(--grey);
  border-radius: var(--radius-md);
  padding: var(--space-xs);
}

.input::placeholder {
  opacity: 0.5;
}
