.root {
  border-radius: var(--radius-md);
  background-color: var(--blue-950);
  width: 8rem;
  height: 3rem;
  overflow: hidden;
  color: var(--blue-50);
}

.primary {
  background-color: var(--blue-950);
  color: var(--blue-50);
}

.secondary {
  background-color: transparent;
  color: var(--blue-950);
}
