.root {
  display: flex;
  flex: 0 0 17.125rem;
  flex-direction: column;
  gap: var(--space-lg);
  border-radius: var(--radius-lg);
  background-image: url('/assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--space-lg);
}
