.root {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--space-lg);
  border-radius: var(--radius-lg);
  background-image: url('/assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  width: 17rem;
}
