.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-radius: var(--radius-md);
  background-color: var(--blue-50);
  padding: var(--space-sm);
}

.planSummaryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  padding-bottom: var(--space-lg);
  font-weight: 700;
}

.planSummaryItemContent {
  display: flex;
  flex-direction: column;
}

.addOnSummaryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
}
