.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  height: 100%;
  text-align: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}

@media (width >= 768px) {
  .icon {
    width: 4rem;
    height: 4rem;
  }
}
