.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  height: 100%;
  text-align: center;
}

.icon {
  width: clamp(3rem, 2.5rem + 1.5vw, 4rem);
  height: clamp(3rem, 2.5rem + 1.5vw, 4rem);
}
