.root {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  color: var(--blue-100);
  font-size: 0.8rem;
}

.srOnly {
  position: absolute;
  margin: -1px;
  border-width: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-100);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-weight: 700;
}

.iconActive {
  background-color: var(--blue-200);
  color: var(--blue-950);
}

.text {
  display: none;
}

@media (width >= 768px) {
  .text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

  .textStep {
    font-weight: 400;
  }

  .textDescription {
    font-weight: 700;
  }
}
