.root {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: var(--radius-md);
  padding: var(--space-xs);
}

@media (width >= 768px) {
  .root {
    gap: var(--space-lg);
    padding: var(--space-sm);
  }
}

.selected {
  border: 1px solid var(--blue-600);
  background-color: var(--blue-50);
}

.checkbox {
  appearance: none;
  position: relative;
  flex: 0 0 auto;
  border: 1px solid var(--grey);
  border-radius: var(--radius-sm);
  width: 1rem;
  height: 1rem;
}

.checkbox:checked {
  border: 1px solid var(--blue-600);
  background-color: var(--blue-600);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 700;
}

.checkbox:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '✓';
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
}

@media (width >= 768px) {
  .title {
    font-size: 1rem;
  }
}

.description {
  color: var(--grey);
  font-size: 0.75rem;
}

@media (width >= 768px) {
  .description {
    font-size: 1rem;
  }
}

.price {
  margin-left: auto;
  color: var(--blue-600);
  font-size: 0.75rem;
}

@media (width >= 768px) {
  .price {
    font-size: 1rem;
  }
}
