.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  border-radius: var(--radius-md);
  background-color: var(--blue-50);
  padding: var(--space-sm);
  font-size: var(--font-size-sm);
}

.planSummaryItem {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  padding-bottom: var(--space-sm);
  font-weight: 700;
}

@media (width >= 768px) {
  .planSummaryItem {
    padding-bottom: var(--space-lg);
  }
}

.planSummaryItemContent {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.addOnSummaryItem {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
}

.addOnSummaryItemName {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addOnSummaryItemPrice {
  flex-shrink: 0;
}
