.root {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  border: 1px solid var(--grey);
  border-radius: var(--radius-md);
  padding: var(--space-xs);
  width: 100%;
}

@media (width >= 768px) {
  .root {
    flex-direction: column;
    gap: var(--space-lg);
    justify-content: space-between;
    padding: var(--space-sm);
    width: auto;
    min-width: 8.5rem;
    min-height: 10rem;
  }
}

.selected {
  border: 1px solid var(--blue-950);
  background-color: var(--blue-50);
}

.icon {
  width: 2rem;
  height: 2rem;
}

@media (width >= 768px) {
  .icon {
    width: 3rem;
    height: 3rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.875rem, 0.8rem + 0.25vw, 1rem);
}

.title {
  font-weight: 700;
}

.price {
  color: var(--grey);
}
