.root {
  margin: -4.5rem var(--space-sm) var(--space-sm) var(--space-sm);
  border-radius: var(--radius-lg);
  background-color: var(--white);
  padding: var(--space-lg) var(--space-sm);
}

@media (width >= 768px) {
  .root {
    margin: var(--space-sm);
    padding: var(--space-lg) var(--space-xl);
  }
}
