.root {
  justify-self: center;
  margin: -4.5rem var(--space-sm) var(--space-sm) var(--space-sm);
  border-radius: var(--radius-lg);
  background-color: var(--white);
  padding: var(--space-lg) var(--space-sm);
  max-width: 21rem;
}

@media (width >= 768px) {
  .root {
    margin: var(--space-sm);
    padding: var(--space-lg) var(--space-xl);
    max-width: none;
  }
}
