.root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

@media (width >= 768px) {
  .root {
    grid-template-rows: 1fr;
    grid-template-columns: 17rem 1fr;
    border-radius: var(--radius-lg);
    background-color: var(--white);
    padding: var(--space-sm);
    max-width: 58.75rem;
    min-height: 37.5rem;
  }
}
